nav{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition);
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLog{
    width: 3.5rem;
}


#navMenu{
    display: flex;
    gap: 3.5rem;
}

#themeIcon{
    background: transparent;
    color: white;
    font-size:2rem ;
    cursor: pointer;
} 

.hamburgerMenu{
    display: none;
}

@media screen and (max-width: 700px){

    #navMenu{
        display: none;
    }
    .hamburgerMenu{
        display: flex;
        justify-content: space-around;
    }

    .hamburger{
        color: white;
        font-weight: lighter;
        font-size: 30px;
        cursor: pointer;
    }

    .navLog{
        width: 3rem;
        position: relative;
      
    }

    .navHamMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        float: right;
        padding: 10px;
      }
    
      .navHamMenu li {
        margin: 5px 0;
        color: var(--color-primary);;
      }

      .navHamMenu li a{
    
        color: var(--color-primary);;
      }
    





}



